{% extends "layout.html" %}

{% block content %}

<div class="card mb-3 w-100 ">
        <div class="row g-0">
            <div class="col-md-4 mt-4">
                <img src="{{url_for('static', filename='images/profile/'+ current_user.profile_pic or 'default.png')}}"class="img-fluid rounded-circle" alt="..."" >
            </div>
              <div class="col-md-8">
                <div class="card-body">
                  <form action="{{url_for('account')}}" method="post" class="container-fluid" enctype="multipart/form-data">
                      {{ form.hidden_tag() }}
                      <div>
                        <label class="form-label">{{form.username.label}}</label>
                        <div class="form-control">{{form.username}}</div>
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                {{ error }}
                            {% endfor %}
                          {% endif %}
                        
                        
                      </div>
                      <div >
                        <label class="form-label">{{form.email.label}}</label>
                        <div class="form-control">{{form.email}}</div>
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                          {% endif %}
                      </div>
                      <div >
                        <label class="form-label">{{form.profile_pic.label}}</label>
                        <div class="form-control">{{form.profile_pic}}</div>
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                          {% endif %}
                      </div>

                    {{form.submit(class="btn btn-primary mt-2")}}
                      
                    </form>
                </div>
              </div>
        </div>
    </div>
    
</div>



{% endblock content %}
    
