{% extends "layout.html" %}
{% block content %}

<div class="body px-5" >
  <!-- This is Heading -->
      <div class="Heading py-5">
          <H1>Bytes Stories</H1>
          <strong class="Heading_p">Stories from the World of Code</strong>
      </div>

    <!-- Cards -->    
    <div class = container-fluid style="    margin-top: 20px;margin-left: auto;margin-right: auto;" >
        
        <div class=" grid_template pb-5">
          {% for post in posts.items %}
                <a href="{{url_for('posts.post',post_id=post.id)}}">
                    <div class="card card_style shadow" >
                        <img class="card-img-top" style="height:14rem;" src="{{url_for('static', filename='images/content/'+ post.content_pic or 'default.png')}}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">{{post.title}}</p>
                        </div>
                    </div>
                </a>
        

    
{% endfor %}
</div>
</div>

<div class="pagination mb-2" style="justify-content: center;">
    {% for page in posts.iter_pages(left_edge=1, left_current=1, right_current=1, right_edge=1) %}
      {% if page %}
          {% if page != posts.page %}
            <a href="{{ url_for("main.home", page=page) }}" class="btn btn-outline-warning">{{ page }}</a>
          {% else %}
            <span class="btn btn-warning">{{ page }}</span>
          {% endif %}
      {% else %}
        <span class=ellipsis>…</span>
      {% endif %}
    {% endfor %}
  </div>
 </div> 

{% endblock content %}

