{% extends "layout.html" %}

{% block content %}

<form action="{{url_for('signup')}}" method="post" class="container-fluid">
  <div>
    <label class="form-label">{{form.username.label}}</label>
    <div class="form-control">{{form.username}}</div>
    
  </div>
  <div >
    <label class="form-label">{{form.email.label}}</label>
    <div class="form-control">{{form.email}}</div>
    
  <div >
    <label class="form-label">{{form.password.label}}</label>
    <div class="form-control">{{form.password}}</div>
   
  <div >
    <label class="form-label">{{form.confirm_password.label}}</label>
    <div class="form-control">{{form.confirm_password}}</div>
    
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
{% endblock content %}
