{% extends "layout.html" %}
{% block content %}
<div class="container_login container"style="">
    <div class="main_container">
        <div class="toggle-box">
            <div class="toggle-panel toggle-left"></div>
        </div>
        <div class="login_text">
            <H1 >Register</H1>
            <button id="login_toggle">Register</button>
        </div>
<!-- login form -->
        <div class="form-box">
            <h1 >Login</h1>
            <form action="{{url_for('login')}}" method="post" class="form-box-form">
            {{ login_form.hidden_tag() }}
            
                <label class="form-label mt-5">{{login_form.email.label}}</label>
                <div class=>{{login_form.email}}</div>
                {% if login_form.email.errors %}
                    {% for error in login_form.email.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
             
            
                <label class="form-label mt-5">{{login_form.password.label}}</label>
                <div class=>{{login_form.password}}</div>
                {% if login_form.password.errors %}
                    {% for error in login_form.password.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
                {{login_form.submit(class="btn btn-warning mt-5")}}
            </form>
        </div>
<!-- Registration form -->
 

    </div>
</div>
</div>

{% endblock content %}

