{% extends "layout.html" %}

{% block content %}

<form action="{{url_for('update_post',post_id=post.id)}}" method="post" class="container-fluid" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div>
    <label class="form-label">{{form.title.label}}</label>
    <div class="form-control">{{form.title}}</div>
    {% if form.title.errors %}
        {% for error in form.title.errors %}
            {{ error }}
        {% endfor %}
      {% endif %}
    
    
  </div>
  <div >
    <label class="form-label">{{form.content.label}}</label>
    <div class="form-control">{{form.content(row=10, cols=200)}}</div>
    {% if form.content.errors %}
        {% for error in form.content.errors %}
            {{ error }}
        {% endfor %}
      {% endif %}
    {{form.content_pic.label(class="form-label")}}
    {{form.content_pic(class="form-control", sytle="height: 100px")}}
    {% if form.content_pic.errors %}
        {% for error in form.content_pic.errors %}
            {{ error }}
        {% endfor %}
      {% endif %}

    {{form.submit(class="btn btn-primary mt-2")}}
  
</form>
{% endblock content %}
    
